<div class="breadcrumbs">
<div class="page-header d-flex align-items-center">
 <div class = "container">
  <div classs ="row d-flex justify-content-center">
   <div class="col-lg-12 text-center">
    <h2>Connect with Us</h2>
    <p>We are located in South Africa but deliver solutions across the globe. Our capability is available to connect with you for all your service requirements</p>
   </div>
  </div>
 </div>
</div>
</div>

<div id="contact" class="contact">
 <div class="container content-area">

  <div class="row gy-4">
  <div class="col-lg-4">
   <div class="info-item">
   <fa-icon [icon]="faPhone"></fa-icon>
    <h4>+27 79 9685263</h4>
    <p>Customer support <br> Mom -Fri: 08:00 to 17:00</p>

   </div>
  </div>
  <div class="col-lg-4">
    <div class="info-item">
    <fa-icon [icon]="faEnvelope"></fa-icon>
     <h4>thabang@gmail.com</h4>
     <p>24/7 customer support (SLA Clients) <br> General questions</p>

    </div>
     </div>
     <div class="col-lg-4">
        <div class="info-item">
    <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
     <h4>28B Jeugd Road, Montana, Pretoria</h4>
     <p>Main office location. Please contact us to confirm availability for meetings</p>

    </div>
    </div>

  </div>
<div class="space">


  <div class="row gy-4">

    <div class="col-lg-6">
      <h5>Ask us. We are here to help!</h5>
      <form>
        <div class="row">
         <div class="col-md-6 form-group">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
         </div>
         <div class="col-md-6 form-group mt-3 mt-md-0">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required>
         </div>
        </div>
        <div class="form-group mt-3">
          <label for="message" class="form-label">Message</label>
         <textarea class="form-control" name="message" rows="5" id="messagee"  placeholder="Message" required>

         </textarea>
        </div>
        <div class="form-group mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I give consent to processs my personal data</label>
        </div>
        <div class="">
          <button class="button" type="submit">Send Message</button>
        </div>

      </form>
    </div>
    <div class="col-lg-6">
      <h5>Please contact us to confirm availability for meetings</h5>
      <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.6419077708993!2d27.907530315642195!3d-26.1757892691773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a0645aead25f%3A0xb212d524b14e8c67!2s18%203rd%20Ave%2C%20Florida%2C%20Roodepoort%2C%201710!5e0!3m2!1sen!2sza!4v1574147779002!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
       </div>
  </div>
  </div>
</div>



</div>
<div>
