<div class="parallax d-flex align-items-center">
  <div class="container">
    <div class="row gy-4 d-flex justify-content-between ">
    <div class="col-lg-6 order-2 order-lg-1 ">
      <h2>Your Ultimate Software Development partner</h2>
      <p>We develop
      <b>tailored Software Solution </b>
      that are designed to meet the specific needs of your business and can help 
      <b>streamline processes</b>
      ,increase efficiency, and reduce costs. As businesses continue to adapt to changing market conditions, tailored software solutions are increasingly 
      becoming important 
      <b class="highlight">tools of success</b>
    </p>
    <div class="row gy-4">
  <div class="col-lg-4 col-6">
      <div class="stats-item text-center ">
        <span>53</span>
        <div class="horizontalline"></div>
        <p  class="stats-text">Projects Finished</p>
      </div>
     </div>
     <div class="col-lg-4 col-6">
      <div class="stats-item text-center ">
        <span>0</span>
        <div class="horizontalline"></div>
        <p class="stats-text">Happy Clients</p>
      </div>
     </div>
     <div class="col-lg-4 col-6" >
      <div class="stats-item text-center ">
        <span>7</span>
        <div class="horizontalline"></div>
        <p  class="stats-text">Served Continents</p>
      </div>
     </div>
     
    </div>
    </div>
    <div class="col-lg-5 order-1 order-lg-2 hero-img">
      <img src=".//../../assets/imgs/home_2.png" class=" img-fluid  mb-3 mb-lg-0" >
      </div>
    </div>
  </div>

</div>
