<div class="featured-services">
  <div class="container content-area">
    <div class="row gy-4">
    <div class="col-lg-3 service-item d-flex">
     <div class="icon flex-shrink-0">
      <fa-icon [icon]="faPeopleRoof"></fa-icon>
     </div>
      <div>
      <p class="description" >
        Get access to our team of graphic designers and programmers</p>
      </div>
    </div>
    <div class="col-lg-3 service-item d-flex">
      <div class="icon flex-shrink-0">
       <fa-icon [icon]="faHandshakeSimple "></fa-icon>
      </div>
       <div>
       <p class="description">
        Invest in a modular turnkey solution. From inception to production to future enhancements</p>
       </div>
     </div>
     <div class="col-lg-3 service-item d-flex">
      <div class="icon flex-shrink-0">
       <fa-icon [icon]="faCalendarMinus"></fa-icon>
      </div>
       <div>
       <p class="description">
        Apps, Web, IoT, APIs, AI, Computer Vision, Machine Interfacing, RS232, Database Programming and more</p>
       </div>
     </div>
     <div class="col-lg-3 service-item d-flex">
      <div class="icon flex-shrink-0">
       <fa-icon [icon]="faComments"></fa-icon>
      </div>
       <div>
       <p class="description">
        New clients get a 100% free consultation to discuss their projects</p>
       </div>
     </div>
    </div>

  </div>
</div>
